# Allow all files in bin and the subdirs to be in PATH
# Create the folder if it doesn't exist.
[ ! -e "$HOME/bin" ] && mkdir $HOME/bin
export PATH=$PATH$( find $HOME/bin/ -type d -printf ":%p" )

# Fcitx for Japanese/Korean input.
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx

# A simple dual monitor setup
xrandr --output HDMI-1 --mode 1920x1080 --primary --output eDP-1 --mode 1920x1080 --right-of HDMI-1
